.header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    max-width: 1600px;
    width: 100%;
    transform: translate(-50%, -50%);
}

.header h1 {
    font-size: 150px;
    font-weight: 900;
    color: #fff;
    text-align: right;
}

.header h1::first-letter {
    color: #fd3e1d;
    font-size: 500px;
}

.header p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: right;
    line-height: 20px;
}


.mainVisual {
    position: relative;
    min-height: 700px;
    height: 100vh;
    background: url(../images/dm01.jpg) no-repeat left center/cover;
}

.mainVisual::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/pt01.png);
    opacity: 0.4;
}